.container_Search {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input_Search {
    width: 400px;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #282c34;
    color: white;
  }
  .input_Search:focus {
    outline: none;
  }
  
  .Search_form {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container_view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.container_Pagination 
{
    width:100%;
    text-align: center;
    margin-top: 20px;
}

.button_Pagination 
{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 10px;
    cursor: pointer;
}

.inner
{
    display: inline-block;
}



.abtn{

    height: 30px;
    border-radius: 10px;
    display: inline;
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.abtn:hover{
	background-position: right;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table > thead > tr {
    background-color: #009879;
    color: #000000;
    text-align:center;
  }
  .thead{
    background-color: #009879;
    color: #000000;
    text-align:center;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }



